@use 'reset';
@use 'variables';
@use 'base';

#root {
  max-width: 1920px;
	min-width: 360px;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
  padding: 0 345px;
}

@media screen and (max-width: 1800px) {
  #root {
    padding: 0 150px;
  }
}
@media screen and (max-width: 1450px) {
  #root {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1300px) {
  #root {
    padding: 0 50px;
  }
}
@media screen and (max-width: 992px) {
  #root {
    padding: 0 8px;
  }
}