:root {
  --color-primary: #242424;
  --color-accent: #FF885E;

  --color-text: #FFFFFF;
  --color-accent-text: #FFDE00;
  --color-blur-text: #C9C3F3;
  --color-button-text: #000000;
  
  --font-family-base: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-base: 700;
}